on:
  push:
    branches:
      # A bot pushes changes from smithy-rs to `next`, so run CI when that happens
      - next
  pull_request:
    branches:
      - main
      - next

name: CI

env:
  SDK_BATCH_COUNT: 12
  EXAMPLES_BATCH_COUNT: 1
  RUST_VERSIONS: "1.58.1"
  RUST_VERSION: "1.58.1"

jobs:
  generate-test-sdk-matrix:
    runs-on: ubuntu-latest
    name: Generate Test Matrix (SDK)
    steps:
      - uses: actions/checkout@v2
      - name: Generate the matrix
        id: generate-matrix
        # Run the `crate-range.py` script to calculate a matrix for the `test-sdk` job.
        # This script outputs JSON that GitHub Actions can consume as a matrix definition.
        # Rust versions to test against are arguments to this script.
        run: echo "::set-output name=matrix::$(./tools/ci/crate-range.py generate-matrix -b ${SDK_BATCH_COUNT} --folder sdk ${RUST_VERSIONS})"
    outputs:
      matrix: ${{ steps.generate-matrix.outputs.matrix }}

  test-sdk:
    needs: generate-test-sdk-matrix
    runs-on: ubuntu-latest
    name: Compile & Test SDK
    env:
      CARGO_INCREMENTAL: "0"
    strategy:
      # Use the matrix generated by the previous job
      matrix: ${{ fromJson(needs.generate-test-sdk-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust_version }}
          default: true
      # Pinned to the commit hash of v1.3.0
      - uses: Swatinem/rust-cache@842ef286fff290e445b90b4002cc9807c3669641
        with:
          sharedKey: test
      - name: Cargo Test
        run: ./tools/ci/crate-range.py run ${{ matrix.crate_range }} --folder sdk -- cargo test --all-features
      - name: Cargo Doc
        run: ./tools/ci/crate-range.py run ${{ matrix.crate_range }} --folder sdk -- cargo doc --all-features --no-deps

  # Psuedo-job that depends on the test job so that we don't have to enter
  # the myriad of crate range combinations into GitHub's protected branch rules
  require-test-sdk:
    needs: test-sdk
    # Run this job even if its dependency jobs fail
    if: always()
    runs-on: ubuntu-latest
    name: Test Matrix Success (SDK)
    steps:
      - name: Verify jobs succeeded
        uses: re-actors/alls-green@3a2de129f0713010a71314c74e33c0e3ef90e696
        with:
          jobs: ${{ toJSON(needs) }}

  generate-check-examples-matrix:
    runs-on: ubuntu-latest
    name: Generate Check Matrix (examples)
    steps:
      - uses: actions/checkout@v2
      - name: Generate the matrix
        id: generate-matrix
        # Run the `crate-range.py` script to calculate a matrix for the `check-examples` job.
        # This script outputs JSON that GitHub Actions can consume as a matrix definition.
        # Rust versions to check against are arguments to this script.
        run: echo "::set-output name=matrix::$(./tools/ci/crate-range.py generate-matrix -b ${EXAMPLES_BATCH_COUNT} --folder examples ${RUST_VERSIONS})"
    outputs:
      matrix: ${{ steps.generate-matrix.outputs.matrix }}

  check-examples:
    needs: generate-check-examples-matrix
    runs-on: ubuntu-latest
    name: Check Examples
    env:
      CARGO_INCREMENTAL: "0"
    strategy:
      # Use the matrix generated by the previous job
      matrix: ${{ fromJson(needs.generate-check-examples-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust_version }}
          default: true
      # Pinned to the commit hash of v1.3.0
      - uses: Swatinem/rust-cache@842ef286fff290e445b90b4002cc9807c3669641
        with:
          sharedKey: check
      - name: Cargo Check
        run: ./tools/ci/crate-range.py run ${{ matrix.crate_range }} --folder examples -- cargo check --all-features

  # Psuedo-job that depends on the check job so that we don't have to enter
  # the myriad of crate range combinations into GitHub's protected branch rules
  require-check-examples:
    needs: check-examples
    # Run this job even if its dependency jobs fail
    if: always()
    runs-on: ubuntu-latest
    name: Check Matrix Success (examples)
    steps:
      - name: Verify jobs succeeded
        uses: re-actors/alls-green@3a2de129f0713010a71314c74e33c0e3ef90e696
        with:
          jobs: ${{ toJSON(needs) }}

  check-manifests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: awslabs/smithy-rs
          path: smithy-rs
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: "${{ env.RUST_VERSION }}"
          default: true
      # Pinned to the commit hash of v1.3.0
      - uses: Swatinem/rust-cache@842ef286fff290e445b90b4002cc9807c3669641
        with:
          sharedKey: check-manifests
      - name: check manifests
        working-directory: smithy-rs/tools/publisher
        run: cargo run fix-manifests --check --location ../../../sdk
