on:
  push:
    branches:
      # A bot pushes changes from smithy-rs to `next`, so run CI when that happens
      - next
  pull_request:
    branches:
      - main
      - next

name: CI

env:
  BATCH_COUNT: 12

jobs:
  generate-test-matrix:
    runs-on: ubuntu-latest
    name: Generate Test Matrix
    steps:
      - uses: actions/checkout@v2
      - name: Generate the matrix
        id: generate-matrix
        # Run the `crate-range.py` script to calculate a test matrix for the `test` job.
        # This script outputs JSON that GitHub Actions can consume as a matrix definition.
        # Rust versions to test against are arguments to this script.
        run: echo "::set-output name=matrix::$(./tools/ci/crate-range.py generate-matrix -b ${BATCH_COUNT} 1.56.1)"
    outputs:
      matrix: ${{ steps.generate-matrix.outputs.matrix }}

  test:
    needs: generate-test-matrix
    runs-on: ubuntu-latest
    name: Compile & Test SDK
    env:
      CARGO_INCREMENTAL: "0"
    strategy:
      # Use the matrix generated by the previous job
      matrix: ${{ fromJson(needs.generate-test-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust_version }}
          default: true
      # Pinned to the commit hash of v1.3.0
      - uses: Swatinem/rust-cache@842ef286fff290e445b90b4002cc9807c3669641
        with:
          sharedKey: test
      # The telephone-game example depends on ALSA, so we need this library to compile it
      - name: Install libasound2-dev
        run: sudo apt-get install -y libasound2-dev
      - name: Remove root manifest
        run: |
          # HACK: The workspace smithy-rs generates is invalid.
          # This can be removed once https://github.com/awslabs/smithy-rs/pull/957
          # is merged into aws-sdk-rust.
          rm Cargo.toml
      - name: Cargo Test
        run: ./tools/ci/crate-range.py run ${{ matrix.crate_range }} -- cargo test --all-features
      - name: Cargo Doc
        run: ./tools/ci/crate-range.py run ${{ matrix.crate_range }} -- cargo doc --all-features --no-deps

  # Psuedo-job that depends on the test job so that we don't have to enter
  # the myriad of test range combinations into GitHub's protected branch rules
  require-tests:
    needs: test
    runs-on: ubuntu-latest
    name: Test Matrix Success
    steps:
      - name: Run
        run: echo "We should only get this far if the test matrix succeeded."

  check-manifests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: awslabs/smithy-rs
          path: smithy-rs
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.56.1
          default: true
      # Pinned to the commit hash of v1.3.0
      - uses: Swatinem/rust-cache@842ef286fff290e445b90b4002cc9807c3669641
        with:
          sharedKey: check-manifests
      - name: check manifests
        working-directory: smithy-rs/tools/publisher
        run: cargo run fix-manifests --check --location ../../../sdk
