on: [ pull_request ]

name: CI

jobs:
  test:
    runs-on: ubuntu-latest
    name: Compile & Test SDK
    strategy:
      matrix:
        rust_version: [1.53.0, 1.56.1]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust_version }}
          default: true
      # Pinned to the commit hash of v1.3.0
      - uses: Swatinem/rust-cache@842ef286fff290e445b90b4002cc9807c3669641
        with:
          sharedKey: test
          working-directory: sdk
      - name: Cargo Test
        run: cargo test
        env:
          CARGO_INCREMENTAL: 'false'
        working-directory: sdk
