on:
  pull_request:
    paths: 'sdk/**'

env:
  rust_version: 1.53.0

name: CI

jobs:
  test:
    runs-on: ubuntu-latest
    name: Compile & Test SDK
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        name: Cargo Cache
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            sdk/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.rust_version }}
          default: true
      - name: Cargo Test
        run: cargo test
        env:
          CARGO_INCREMENTAL: 'false'
        working-directory: sdk
