on:
  workflow_dispatch:
  pull_request:
  schedule:
    # Run at the top of the hour, every hour
    - cron:  '0 * * * *'

name: Sync with smithy-rs commits

env:
  rust_version: 1.54.0
  rust_toolchain_components: clippy,rustfmt
  java_version: 11
  sync_to_branch: bot-next
  sync_from_branch: main

jobs:
  run-sync-tool:
    runs-on: ubuntu-latest
    steps:
    - name: checkout aws-sdk-rust
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.AWS_SDK_RUST_CI_PAT }}
        ref: ${{ env.sync_to_branch }}
        path: aws-sdk-rust
    - name: checkout smithy-rs
      uses: actions/checkout@v2
      with:
        repository: awslabs/smithy-rs
        ref: ${{ env.sync_from_branch }}
        path: smithy-rs
        fetch-depth: 0
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ env.rust_version }}
        components: ${{ env.rust_toolchain_components }}
        default: true
    - uses: actions/setup-java@v1
      with:
        java-version: ${{ env.java_version }}
    - name: run sync tool
      working-directory: smithy-rs/tools/smithy-rs-sync
      run: |
        cargo run -- \
          --smithy-rs /home/runner/work/aws-sdk-rust/aws-sdk-rust/smithy-rs \
          --aws-sdk /home/runner/work/aws-sdk-rust/aws-sdk-rust/aws-sdk-rust \
          --branch ${{ env.sync_to_branch }} \
          --max-commits-to-sync 5
    - name: push commits
      working-directory: aws-sdk-rust
      run: |
        git config --global user.name "AWS SDK Rust Bot"
        git config --global user.email "aws-sdk-rust-primary@amazon.com"
        git push
